@media screen and (max-width: 768px) {
    .All.overlay {
        display: none; /* 在窗口宽度小于 768px 时隐藏 */
    }
}

@media screen and (max-width: 768px) {
    #menu-bar, #bottom-bar {
        display: none; /* 在窗口宽度小于 768px 时隐藏 */
    }
}

@media screen and (max-width: 768px) {
    .search-box {
        display: none; /* 在窗口宽度小于 768px 时隐藏 */
    }
}

body {
    position: relative;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

/*眉页和地页设置*/
#menu-bar, #bottom-bar {
    position: absolute;
    width: 100%;
    z-index: 4; 
    text-align: center;
    padding: 17px;
}

/*地页中文本设置*/
#bottom-bar p {
    margin: 0; /* 移除默认上下边距 */
    position: relative;
    top: -3px; 
    color: #aaaaaa; 
    font-size: 12px;
}

/*眉页文本设置*/
#menu-bar p {
    margin: 0; /* 移除默认上下边距 */
    position: relative;
    top: 0px; 
    font-size: 35px; 
    color: rgb(202, 216, 255);
    font-weight: bold;
}

#menu-bar {
    top: 0;
    height: 40px; 
    background-color: rgba(6, 20, 43, 0.95);
}

#bottom-bar {
    bottom: 0;
    height: 10px;
    background-color: rgb(0, 0, 0, 0.3); 
}

/*视频背景设置*/
#video-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw; 
    height: 100vh; 
    z-index: 2;
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.0);
}

/*中间内容设置*/
.All.overlay {
    position: absolute;
    top: 53.5%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    width: 1300px; 
    height: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.0); /* 这里设置为红色的半透明背景，你可以根据需要调整颜色和透明度 */
}

/* 隐藏滚动条，但保留滚动功能 */
.All.overlay .overlay-A::-webkit-scrollbar {
    width: 0.5em; /* 设置滚动条的宽度为 0.5em，以确保其存在但不可见 */
}

.All.overlay .overlay-A::-webkit-scrollbar-thumb {
    background-color: transparent; /* 滑块透明 */
}

/* 隐藏滚动条，但保留滚动功能 */
.All.overlay .overlay-B::-webkit-scrollbar {
    width: 0.5em; /* 设置滚动条的宽度为 0.5em，以确保其存在但不可见 */
}

.All.overlay .overlay-B::-webkit-scrollbar-thumb {
    background-color: transparent; /* 滑块透明 */
}

/* 隐藏滚动条，但保留滚动功能 */
.All.overlay .overlay-C::-webkit-scrollbar {
    width: 0.5em; /* 设置滚动条的宽度为 0.5em，以确保其存在但不可见 */
}

.All.overlay .overlay-C::-webkit-scrollbar-thumb {
    background-color: transparent; /* 滑块透明 */
}

/* 隐藏滚动条，但保留滚动功能 */
.All.overlay .overlay-D::-webkit-scrollbar {
    width: 0.5em; /* 设置滚动条的宽度为 0.5em，以确保其存在但不可见 */
}

.All.overlay .overlay-D::-webkit-scrollbar-thumb {
    background-color: transparent; /* 滑块透明 */
}

/* 隐藏滚动条，但保留滚动功能 */
.All.overlay .overlay-E::-webkit-scrollbar {
    width: 0.5em; /* 设置滚动条的宽度为 0.5em，以确保其存在但不可见 */
}

.All.overlay .overlay-E::-webkit-scrollbar-thumb {
    background-color: transparent; /* 滑块透明 */
}

/*音乐播放器*/
.All.overlay audio {
    position: absolute;
    margin: auto;
    width: 95%; 
    height: 85%;
    top: 4%;
    left: 2%; 
    outline: none;
    appearance: none;
    z-index: 5;
    overflow-y: auto;
}

.All.overlay .overlay-A {
    position: absolute;
    width: 25%;
    height: 86%;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 26.5%;
    overflow-y: auto;
    padding: 2%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    color: rgb(202, 216, 255);
}

.text-blockA {
    position: relative;
    top: 3%; 
    font-size: 35px; 
    font-weight: bold;
}

.All.overlay .overlay-B {
    position: absolute;
    width: 13%;
    height: 23%;
    margin: auto;
    top: 0;
    left: 26%;
    bottom: 63%;
    right: 0;
    z-index: 3;
    padding: 2%;
    border-radius: 10px; /* 设置边框圆角 */
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    color: rgb(202, 216, 255);
}

.text-blockB {
    position: relative;
    top: 95px; 
    font-size: 20px; 
    font-weight: bold;
}

.All.overlay .overlay-C {
    position: absolute;
    width: 9%;
    height: 62%;
    margin: auto;
    top: 0;
    left: 62%;
    bottom: 24%;
    right: 0px;
    z-index: 3;
    overflow-y: auto;
    padding: 2%;
    border-radius: 10px; /* 设置边框圆角 */
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    color: rgb(202, 216, 255);
}

.text-blockC {
    position: relative;
    top: 120px; 
    font-size: 19px; 
    font-weight: bold;
}

.All.overlay .overlay-D {
    position: absolute;
    width: 29%;
    height: 12%;
    margin: auto;
    top: 75%;
    left: 42%;
    bottom: 0px;
    right: 0px;
    z-index: 3;
    overflow-y: auto;
    padding: 2%;
    border-radius: 10px; /* 设置边框圆角 */
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    color: rgb(202, 216, 255);
}

.text-blockD {
    position: relative;
    top: -10%; 
    left: 35%;
    font-size: 18px; 
    font-weight: bold;
}

.All.overlay .overlay-E {
    position: absolute;
    width: 8%;
    height: 86%;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 73%;
    overflow-y: auto;
    padding: 2%;
    border-radius: 10px; /* 设置边框圆角 */
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    color: rgb(202, 216, 255);
}

.text-blockE {
    position: relative;
    top: 100px; 
    left: 0px;
    font-size: 25px; 
    font-weight: bold;
}

/*加载动画Gif设置*/
#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999
}

#loading-image {
    display: block;
    margin: 0 auto;
}

/*搜索栏整体设置*/

.search-box {
    position: absolute;
    top: 15%;
    left: 52%;
    z-index: 3;
    transform: translate(-50%, -50%);
    width: 70%; 
    height: 10%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.0); /* 这里设置为红色的半透明背景，你可以根据需要调整颜色和透明度 */
}

#search-bar {
    width: 500px;
    height: 23px;
    position: relative;
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(170, 170, 170);
    font-size: 16px; 
    font-family:"Microsoft YaHei", Arial, sans-serif;
    margin: 0; 
}

#menu-bar input[type="text"]:focus {
    outline: none; /* 移除聚焦时的边框 */
}

#search-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

#search-button img {
    width: 30px; /* 调整图片宽度 */
    height: 30px; /* 调整图片高度 */
    vertical-align: middle; /* 垂直居中对齐 */
    margin-left: 5px; /* 调整左侧边距 */
}

.logo-overlay-C {
    position: absolute;
    width: 50%;
    height: 10%;
    margin: auto;
    z-index: 3;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px; /* 设置边框圆角 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo-overlay-B {
    position: absolute;
    width: 60%;
    height: 13%;
    margin: auto;
    z-index: 3;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px; /* 设置边框圆角 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo-overlay-A {
    position: absolute;
    width: 50%;
    height: 27%;
    margin: auto;
    z-index: 3;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px; /* 设置边框圆角 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo-overlay-D {
    position: absolute;
    width: 150px;
    height: 90px;
    margin: auto;
    z-index: 3;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px; /* 设置边框圆角 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.logo-overlay-A {
    top: 0px;
    left: 0;
    bottom: 30%;
    right: 0;
}

.logo-overlay-B {
    top: 0;
    left: 0;
    bottom: 65%;
    right: 0;
}

.logo-overlay-C {
    top: 0;
    left: 0;
    bottom: 75%;
    right: 0;
}

.logo-overlay-D {
    top: 15%;
    left: 24.5%;
    bottom: 0px;
    right: 0;
}

.logo-overlay-A img {
    width: 50px;
    height: 50px;
    opacity: 0.9; /* 这里设置透明度，可以根据需要调整值 */
    
}

.logo-overlay-B img {
    width: 108px;
    height: 52px;
    opacity: 0.9; /* 这里设置透明度，可以根据需要调整值 */

}

.logo-overlay-C img {
    width: 40px;
    height: 40px;
    opacity: 0.9; /* 这里设置透明度，可以根据需要调整值 */

}

.logo-overlay-D img {
    width: 180px;
    height: 180px;
    margin-top: -70px;
    opacity: 1; /* 这里设置透明度，可以根据需要调整值 */

}